In [ ]:
# print 0 to 20 by using range

In [2]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# print range 10 to 20

In [3]:
for i in range(10, 20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [4]:
for i in range(10, 20, 2):
    print(i)

10
12
14
16
18

In [ ]:
# Print number of items in the list by using 'len'

In [18]:
list2 = [10, 20, 14, 55, 43, 87, 76]
print(list2)
print("Number of item in the List2:")
print(len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [38]:
list=("Artificial Intelligence")
print("Artificial Intelligence", *list, sep='\n')

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [49]:
string =("-Your Name-\n-Your Age-\n-Your Profession-")
print(string)

-Your Name-
-Your Age-
-Your Profession-

In [ ]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/# Print yhis mixered datatype using Tuples

In [50]:
Tuple1 =(1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [ ]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
Tuple1=(0,1,2,3)

In [53]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
# print Odd Numbers in the list

In [68]:
list1=[20,10,16,19,25,1,276,188]
for num in list1:
     if num % 2!= 0:
       print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [71]:
list1=[20,10,16,19,25,1,276,188]
for i in list1:
     if i % 2 == 1:
       print(i,"is odd")

19 is odd
25 is odd
1 is odd

In [ ]:
# print Even numbers in the list

In [69]:
list1=[20,10,16,19,25,1,276,188]
for num in list1:
     if num % 2 != 1:
       print(num,"is odd")

20 is odd
10 is odd
16 is odd
276 is odd
188 is odd

In [72]:
list1=[20,10,16,19,25,1,276,188]
for i in list1:
     if i % 2 == 0:
       print(i,"is odd")

20 is odd
10 is odd
16 is odd
276 is odd
188 is odd